<%- include('partials/header.ejs') %>
<!DOCTYPE html>
<html>
    <body>
        <h1>Hello Earthling! Welcome to the Earth Page!</h1>
        <p> Below are some interesting facts about Earth that you may not have known about!</p>
        <p><strong> Population </strong></p>
        <p> There are currently  7.4 billion of us roaming the planet.
            It is estimated that by 2100 the population will increase to 11.2 billion. While currently
            the largest populated area in the world would be in China.</p>
        <img src="/img/earth.gif"></img>
        <p><strong> Sharks! </strong></p>
        <p> There are over 400 species of sharks in the world Sharks have existed for longer than 450 
            million years. Calculating animal populations is more difficult than counting human populations,
            but experts believe that there are over 400 different types of sharks in the world. </p>
       <p><strong> Days of the Year </strong></p>
       <p> The length of Earth's day is increasing. When Earth was formed 4.6 billion years ago, its day 
           would have been roughly six hours long. By 620 million years ago, this had increased to 21.9 hours. 
           Today, the average day is 24 hours long, but is increasing by about 1.7 milliseconds every century. 
           The reason? The moon is slowing down Earth's rotation through the tides that it helps create. 
           Earth's spin causes the position of its tidal ocean bulges to be pulled slightly ahead of the moon-Earth axis, 
           which creates a twisting force that slows down Earth's rotation. As a result, our day is getting longer 
           but not long enough to make a difference to your busy schedule.</p>
        <img src="/img/earth.jpg" alt="earth photo">
    </body>
    <%- include('partials/footer.ejs') %>
</html>