<%- include('partials/header.ejs') %>
        <title> Mercury </title>
        <body>
            <h1> Welcome to the Mercury Section! </h1> <br>
            <h1> Interesting Facts about Mercury: </h1>
            <table cellspacing="0" cellpadding="0" class="center">
    <tbody>
        <tr>
            <td valign="baseline"><b>Size</b></td>
            <td valign="baseline">0.38 Earths</td>
        </tr>
        <tr>
            <td valign="baseline"><b>Diameter</b></td>
            <td valign="baseline">4880 kilometers</td>
        </tr>
        <tr>
            <td valign="baseline"><b>Mass</b></td>
            <td valign="baseline">3.3011 × 1023 kg (0.055 Earths)</td>
        </tr>
        <tr>
            <td valign="baseline"><b>Aphelion (Point farthest away from the Sun)</b></td>
            <td valign="baseline">0.466 Astronomical Units (1 AU = distance from Earth to the Sun)</td>
        </tr>
        <tr>
            <td valign="baseline"><b>Perihelion (Point closest to the Sun)</b></td>
            <td valign="baseline">0.3 Astronomical Units</td>
        </tr>
        <tr>
            <td valign="baseline"><b>Gravity</b></td>
            <td valign="baseline">0.38 times Earth’s gravity</td>
        </tr>
        <tr>
            <td valign="baseline"><b>Orbital Period (1 Mercurial Year)</b></td>
            <td valign="baseline">88 Earth days</td>
        </tr>
    </tbody>
</table>
    <h3 class="set"> An interesting fact that not many know is that Mercury is actually shrinking! The reasoning behind this
         is because of its iron core. The iron core is currenlty cooling and thus makes it solid which is making the
         planet smaller. Another cool and interesting fact about Mercury is that there is a crater named "Caloris Basin" in
         Mercury and it is a crater left by a meteor impact. This impact caused a crater that is about 1,550km in diameter.
         This is interesting as is big enough to fit a part of Europe ranging from Portugal to Germany!</h3>
            <img src="/img/mercury.jpg" alt="mercury photo">
        </body>
<%- include('partials/footer.ejs') %>