<%- include('partials/header.ejs') %>
<html>
    <body>
       <aside id="featured" class="body">
<article>
  <hgroup>

    <h2>Venus Facts</h2>
  </hgroup>
    <p>Venus is the Second Planet from the Sun in our Solar System! </p>
    <p>There are more volcanoes on Venus than on any other planet in the solar system. Astronomers know of more than 1,600 volcanoes on its surface, but there are likely many more
        too small for us to see. Scientists think most of these are dormant, though a handful may still be active.
        A day on Venus lasts 243 Earth days (that's how long it takes Venus to make one rotation), while a year on
        Venus is shorter, at just 224.7 Earth days. While we can also see that 
        Venus is the closests to being Earth's twin! We can compare both Venus and the Earth by comparing the size
        and composition from both planets.</p>

</article></aside><!-- /#featured -->
        <img src="/img/venus.jpg" width="600" height="500"  style="float:left" alt="venus photo"></img>
        <img src="/img/venus1.jpg" width="700" height="500"  style="float:right" alt="venus photo"></img>
    </body>
<%- include('partials/footer.ejs') %>
</html>
